h1 {
    margin: 10px auto;
    text-align: center;
}
.container {
    height: 50px;
    margin-top: 50px;
}
.container-fluid {
    height: 50px;
    margin-top: 50px;
}

@media (max-width: 600px){
    .container {
        background-color: red;
    }
}
@media (min-width: 800px){
    .container {
        background-color: blue;
    }
}
@media (min-width: 600px) and (max-width: 800px){
    .container-fluid {
        background-color: green;
    }
}
.col{
    height: 30px;
    min-width: 100px;
    max-width: 100%;
}
.col-a{
    background-color: beige;
}
.col-b{
    background-color: blanchedalmond;
}
.col-c{
    background-color: darkslategray;
}
.row{
    background-color: darkorange;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}